$blue: #1070ca;
$lightBlue: #4da8ff;
$lighterBlue: #dbeaf7;
$textDark: #234361;
$text: #425a70;
$gray: #212528;
$darkGrey: #1e1e1e;
$mediumGray: #464a4d;
$console: #808082;
$lightConsole: #A3a3a3;
$linkConsole: #14B5d0;

$tablet: 768px;

$desktop: 960px;