@keyframes wave{
    0%{
        transform:rotate(-30deg) ;
    }
    50%{
        transform:rotate(30deg) ;
    }
    100%{
        transform:rotate(-30deg) ;
    }
}

.hand{
    animation: wave 2s ease-in-out infinite;
display: inline-block;
}