.skills {
    background: $blue;
    color: #fff;
    padding: 64px 16px 88px;
    &__columns{
        @media (min-width: $desktop){
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
    &__header {
        font-weight: bold;
        font-size: 36px;
        line-height: 48px;
        text-align: center;
        margin: 0 0 680px;
        @media (min-width: $desktop){
            font-size: 48px;
            line-height: 56px;
            max-width: 1184px;
            margin: 0 auto;
        }
    }
}


.skills--list {
    width: 288px;

    color: $lighterBlue;
    font-style: normal;
    margin: 0 auto;
    list-style-type: none;

    &__item {
        padding: 0 0 0 24px;
        position: relative;
        font-size: 16px;
        line-height: 24px;
        margin: 0 0 16px;

        &:before {
            display: block;
            top: 7px;
            position: absolute;
            left: 0;
            content: "";
            width: 12px;
            height: 9px;
            background: url('../assets/img/small-tick_green.svg');
            .skills--list--white & {
                background: url('../assets/img/small-tick__white.svg');
            }
            .skills--list--dot & {
                width: 2px;
                height: 2px;
                border-radius: 50%;
                background: $lighterBlue;
                top:11px;
                left:5px;
            }
        }
    }
}

.skills--section {
    margin-top: 64px;

    &__emoji {
        font-size: 64px;
        line-height: 64px;
        display: block;
        text-align: center;
    }

    &__header {
        font-weight: bold;
        font-size: 24px;
        line-height: 44px;
        text-align: center;
        margin: 16px 0 24px;
    }
}
